html,
body,
#root {
  height: 100vh;
  width: 100vw;
  margin: 0;
  overflow: hidden;
}

.splash-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  gap: 1rem;
}

.sticky-top {
  position: sticky;
  top: 0;
}

.panel-content {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 1rem;
}
