@import '@esri/calcite-components/dist/calcite/calcite.css';
@import '@arcgis/core/assets/esri/themes/light/main.css';

html,
body,
arcgis-map {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
