#page-root {
  color: white;
  font-family: Arial;
}

.slidev-layout.cover {
  padding-left: 4.5rem;
}

.slidev-layout:is(.cover, .intro, [is="social"]) p {
  color: #ffad29;
}

.slidev-layout h1 + p {
  opacity: 1;
}

.slidev-page > img {
  position: absolute;
  z-index: -1;;
}